<% layout('layouts/boilerplate') %>


<div class="center">
    <div class="card" style="width: 18rem;">
        <img src="<%= campground.image %>" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= campground.location %></li>
          <li class="list-group-item"><%= campground.price %></li>
          
        </ul>
        <div class="card-body">
          <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info">Edit</a>
          <form class="d-inline"action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <button class="card-link btn btn-danger">delete</button></form>
          <a class="card-link btn btn-warning" href="/campgrounds" class="card-link">Home</a>
        </div>
      </div>
    </div>